

<h1>This is <%= current_user.email %>'s Profile page.</h1>

<a href="/users/<%= current_user.id %>/edit">Edit</a> the user
<form action="/users/<%= current_user.id%>" method="post">
  <%= token_tag %>
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Delete</button>
</form>

<h1>Notes</h1>

<%= form_for(@note, url: "/users/#{ current_user.id }/notes") do |f| %>
 <p><%= f.label :message %></p>
 <p><%= f.text_field :message %></p>
 <p><%= f.submit %></p>
<% end %>

<ul>
  <% current_user.notes.each do |note| %>
    <li><%=note.message%></li>
  <% end %>
</ul>
